.profile {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.profile-footer {
    margin-top: auto;
}

.mobile-billing-title {
    text-decoration: underline;
}


  
  .profile-menu-link {
    color: #35509a;
    background-color: #d7e3f2;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 25%;
    padding: 15px;
  }
  
  li a:hover {
    background-color: #111111;
  }

  .picture-edit {
    width: 100%;
  }